@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply box-border list-none p-0 m-0 scroll-smooth;
}

body {
    @apply font-inter max-w-[1600px]    leading-[24px] min-h-[100vh] ;
}
input {
    outline: none;
}
option {
    -webkit-appearance: none;
}
::-webkit-scrollbar {
    width: 0;
    background: rgba(255, 255, 255, 0.0);
}
